# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
papers/paper_rowcolumngenimproved/Scansione0009.jpg
papers/paper_rowcolumngenimproved/Scansione0010.jpg
papers/paper_rowcolumngenimproved/Scansione0011.jpg
papers/paper_rowcolumngenimproved/Scansione0012.jpg
papers/paper_rowcolumngenimproved/Scansione0013.jpg
papers/paper_rowcolumngenimproved/Scansione0014.jpg
papers/paper_rowcolumngenimproved/Scansione0015.jpg
